<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="container" style="margin-top: 5%">
        <div class="row">
            {% for furniture in furnitures %}
        <div class="col-lg-4">
            <div class="card" style="width: 18rem;">
                <img src="{{furniture.image_url}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{furniture.name}}</h5>
                    <a href="{% url 'furniture:details' furniture.id %}" class="btn btn-primary">See details</a>
                    <a href="{% url 'furniture:delete' furniture.id %}" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
        {% endfor %}
        </div>
    </div>
</body>
</html>
